@import url('https://fonts.googleapis.com/css?family=Mulish');

body{
    background-color : black;
    overflow-x: hidden; 
}
.titre{
    font-family: 'Mulish', cursive;
    font-size: 3em;
    margin: 15px;
    font-weight: 300;
    color : #ffffff;
    text-align: center;
}
.text{
    font-family: 'Mulish', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    color : #ffffff;
}
div.imagesPrestations img{
    display: block;
    justify-content: space-evenly;
    width: 50%;
}

.imagesPrestations{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    text-align: center;
}

.imagesPrestations h4 {
    font-family: 'Mulish', cursive;
    font-size: 1.8em;
    margin: auto;
    font-weight: 300;
    color : rgb(255, 255,255 ); 
}
.imagesPrestations h6 {
    font-family: 'Mulish', cursive;
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: 300;
    color :#23C9FF; 
    font-size: 20px;
}
.jerome img{
    margin: auto;
    width: 100%;
}
.arnaud img{
    margin: auto;
    width: 100%;
}
.pascal img{
    margin: auto;
    width: 100px;
}
.personnel img{
    margin: left;
    width:100px ;
}
div.personnel img{
    display: block;
    width: 50%;
    margin-right: 50 px;
    
}
div.text img{
    display: block;
    width: 50%;
    margin-right: 50 px;
}
.text img{
    margin: left;
    width:100px ;
    margin-bottom: 50px;
}

.texteimage {
    font-family: 'Mulish', cursive;
    color: white;
    margin-right: 50 px;
    margin-bottom: 30 px;
    font-size: 20px;
}
.personnel{
    font-family: 'Mulish', cursive;
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.05em;
    margin-block-end: 0.05em;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #E20079;
    border:none;
    height:2px;
}
.imageperso{
    margin-left: 10px;
    width: 180%;
    padding-bottom: 30px;
    overflow-x: hidden; 
}
.personnel2{
    font-family: 'Mulish', cursive;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.personnel2 img{
    margin: left;
    width:100px ;
}
.imageperso2 img{
    margin-left: 12%;
    margin-right: 0;
    width: 75%;
    padding-bottom: 30px;
    padding-top: 20px;
}

.petittitre{
    font-family: 'Mulish', cursive;
    font-size: 1em;
    margin: 30px;
    font-weight: 300;
    color : #ffffff;
    margin-left: 40px;
    text-align: left;
}

h2 {
    margin-bottom: 2%;
}

.imageperso2 p {
    margin-left: 3%;
    margin-right: auto;
}
