body {
    overflow-y: hidden;
}
.container {
    height: 100vh;

    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

    .parallax {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        transform-style: preserve-3d;
    }

        .background {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            transform: translateZ(-1px) scale(2.1);
        }

        .bg1 {
            background: url("../images/accueil/fond_accueil.png") center / cover;
        }

        .parallax h1 {
            color: white;
            text-shadow: 0 10px 10px rgba(0, 0, 0, 1);
        }

        .parallax:nth-child(1) h1 {
            text-align: left;
        }

    .normal {
        width: 100%;
        height: 100vh;
        background: black;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .reduced_normal {
        width: 100%;
        height: 10vh;
        background: black;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .reduced_normal img {
        height: 60vh;
    }

.logo_slogan {
    margin-left: 3vw;
    margin-right: 60vw;
    margin-top: 15vh;
    margin-bottom: auto;
}

.logo_slogan img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo_slogan p {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: black;
    box-sizing: border-box;
}

.slogan1 {
    font-size: 80px;
    text-align: center;
    color: white;
    box-sizing: border-box
}

.présentation {
    width: 100%;
    height: 27vh;
    background: black;
    position: relative;
    display: block;
    z-index: 3;
    margin-bottom: 25vh;
    box-shadow: 0 0 30px black;
}

.présentation h1 {
    margin-left: 3%;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #E20079;
}

.présentation hr {
    margin-left: 2%;
    margin-right: 2%;
    background-color: #23c9ff;
    border-color: #23c9ff;
}

.présentation p {
    margin-left: 3%;
    margin-right: 30%;
    padding-top: 2%;
    font-size: 20px;
}

.présentation a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 3%;
}

.présentation a:hover {
    color: lightgray;
}
