@import url('https://fonts.googleapis.com/css?family=Mulish');

body {
    background-color: black;
    
}

* {
  font-family: "Mulish";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: rgb(255, 255, 255);
  }

 *::-webkit-scrollbar {
    width: 4px;
  }
  
 *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
  }

/*Navigation menu*/

    .navbar {
        width: 100%;
        background-color: black;
        overflow: auto;
        border-bottom: 1px solid #fff;
        overflow: hidden;
	position: fixed;
	top: 0;
    }

    .active {
        font-weight: 700;
        color: black;
        background-color: white;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 3px solid black;
    }

    .active:hover {
        border-bottom: 3px solid black;
        background-color: white;
        color: black;
    }
    
    .navhover {
        display: inline-block;
        position: relative;
        color: white;
        border-bottom: white;
        transition: 0.25s;
    }

    .navhover:hover {
        color: black;
        background-color: white;
        border-bottom: 3px solid #fff;
    }

    .navhover:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: black;
        transform-origin: center;
        transition: transform 0.25s ease-out;
    }
      
    .navhover:hover:after {
        transform: scaleX(1);
        transform-origin: center;
    }
  
    .navbar a {
        float: left;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        width: 16.666%;
        text-align: center;
    }

/*Navigation menu*/

.schema_1{
  display: flex;
  margin: 2em;
}

.schema_1 :first-child{
  width: 100%;
}

.schema{
  border-radius: 20px;
}

.zoom {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  width: 50%;
  height: 50%;
  position: static;
}

.zoom :active {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zoom :hover{
  cursor: pointer;
}

p{
  padding: 1em;
  padding-top: 0em;
  text-align: justify;
  font-size: 1.7em;
  color: #fff;
}

.image_gauche{
  padding-right: 0em;
}

.image_droite{
  padding-left: 0em;
}

h1 {
  font-size: 5em;
  letter-spacing: 0px;
  color: #E20079;
  text-align: center;
  text-transform: uppercase;
  margin: 1em;
  margin-bottom: 2em;
}

h2 {
  font-size: 2em;
  color: #23C9FF;
  text-transform: uppercase;
  margin: 1em;
  margin-bottom: 2em;
}

hr{
  margin-inline: 2em;
  height: 2px;
  border: none;
  background-color: #E20079;
}

.riot{
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.riot img{
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.texte1{
  position: absolute;  
  right: 65%;
  top: 40%;
  color: #23C9FF;
  font-size: 3em;
  opacity: 50%;
}

.texte2{
  position: absolute;  
  left: 65%;
  top: 40%;
  color: #23C9FF;
  font-size: 3em;
  opacity: 50%;
}
