.schema_1{
  display: flex;
  margin: 2em;
}

.schema_1 :first-child{
  width: 100%;
}

.schema{
  border-radius: 20px;
}

.zoom {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  width: 50%;
  height: 50%;
  position: static;
}

.zoom:active {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zoom:hover{
  cursor: pointer;
}

p{
  padding: 1em;
  padding-top: 0em;
  text-align: justify;
  font-size: 1.7em;
  color: #fff;
}

.image_gauche{
  padding-right: 0em;
}

.image_droite{
  padding-left: 0em;
}

h1 {
  font-size: 5em;
  letter-spacing: 0px;
  color: #E20079;
  text-align: center;
  text-transform: uppercase;
  margin: 1em;
  margin-bottom: 2em;
}

h2 {
  font-size: 2em;
  color: #23C9FF;
  text-transform: uppercase;
  margin: 1em;
  margin-bottom: 2em;
}

hr{
  margin-inline: 2em;
  height: 2px;
  border: none;
  background-color: #E20079;
}

.riot{
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.riot b{
  color: #23C9FF;
}

.riot img{
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.texte1{
  position: absolute;  
  right: 65%;
  top: 40%;
  color: #23C9FF;
  font-size: 3em;
  opacity: 50%;
}

.texte2{
  position: absolute;  
  left: 65%;
  top: 40%;
  color: #23C9FF;
  font-size: 3em;
  opacity: 50%;
}
