@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scroll bar */

    * {
        scrollbar-width: auto;
        scrollbar-color: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 4px;
        z-index: 99;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
    }

/* Navigation bar */

    .navbar {
        width: 100%;
        border-bottom: 1px solid #fff;
        overflow: hidden;
        overflow-y: hidden;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: black;
    }

    .navbar li {
        display: inline;
    }

    .navbar a{
        float: left;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        width: 16.666%;
        text-align: center;
    }

    .navbar .active {
        background-color: white;
        color: black;
        font-weight: 700;
        border-bottom: 3px solid black;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

    .inactive {
        border-bottom: 3px solid black;
        transition: 0.25s;
        position: relative;
        background-color: black;
    }

    .inactive:hover {
        background-color: white;
        color: black;
        border-color: white;
    }

    .inactive::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: -4px;
        left: 0;
        background-color: black;
        transform-origin: center;
        transition: transform 0.25s ease-out;
    }

    .inactive:hover::after {
        transform: scaleX(1);
        transform-origin: center;
    }

/* Footer */

.footer {
    width: 100%;
    height: 50vh;
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.footer img {
    max-width: 100%;
    height: 25vh;
    display: block;
    margin-top: 10vh;
    margin-bottom: auto;
    margin-left: 10vh;
    margin-right: auto;
}

.footer p {
    margin-top:0;
    margin-right: 10vh;
    margin-left: 5vh;
    font-size: 20px;
    color: gray;
    text-justify: auto;
}


footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
}

.navfooter{
padding-top: 30px;
color: gray;
width: fit-content;

}
footer p{
    padding-top: 30px;
    width: fit-content;
    color: gray;
}
footer a {
    color: gray;
    width: fit-content;
}
footer img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 8%;
}


