@import url('https://fonts.googleapis.com/css?family=Mulish');



*{
  font-family: "Mulish";
}

* {
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scroll bar */

    * {
        scrollbar-width: auto;
        scrollbar-color: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 4px;
        z-index: 100;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
    }

/* Navigation bar */

    .navbar {
        width: 100%;
        border-bottom: 1px solid #fff;
        overflow: hidden;
        overflow-y: hidden;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: black;
    }

    .navbar li {
        display: inline;
    }

    .navbar a{
        float: left;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        width: 16.666%;
        text-align: center;
        color: white;
    }

    .navbar .active {
        background-color: white;
        color: black;
        font-weight: 700;
        border-bottom: 3px solid black;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

    .inactive {
        border-bottom: 3px solid black;
        transition: 0.25s;
        position: relative;
        background-color: black;
    }

    .inactive:hover {
        background-color: white;
        color: black;
        border-color: white;
    }

    .inactive::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: -4px;
        left: 0;
        background-color: black;
        transform-origin: center;
        transition: transform 0.25s ease-out;
    }

    .inactive:hover::after {
        transform: scaleX(1);
        transform-origin: center;
    }

body {
  margin: 0;
  padding: 0;
  height: 7930px;
  background-color: black;
}


.inverse_scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.alt-vtl {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}


.alt-vtl::before {
  content: "";
  width: 5px;
  background-color: #23C9FF;
  position: absolute;
  top: 0; bottom: 0; left: 50%;
}


div.alt-event {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 30px;
  width: 45%;
  margin-bottom: 20px;
  position: relative;
  right: 10px;
}

div.alt-event video{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

div.alt-event iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

div.alt-event img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}


div.right { left: 331px; }


p.date {
  font-size: 25px;
  font-weight: 700;
  color: #5F4F47;
  margin-top: 0;
}
p.txt {
  margin: 10px 0 0 0;
  color: #222;
}

p.annee_gauche {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 130px;
  font-size: 50px;
  font-weight: bold;
}

p.annee_droite {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 385px;
  font-size: 50px;
  font-weight: bold;
}

p.annee_speciale {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 -60px;
  font-size: 50px;
}


div.alt-event::before, div.alt-event.right::before {
  content: "";
  border: 10px solid transparent;
  position: absolute;
}


div.alt-event::before {
  border-left-color: #dbf0ff;
  border-right: 0;
  left: 100%; top: 20%;
}


div.alt-event.right::before {
  border-right-color: #dbf0ff;
  border-left: 0;
  left: auto; right: 100%; top: 20%;
}


div.alt-event::after, div.alt-event.right::after {
  content: "";
  background: black;
  border: 5px solid #23C9FF;
  width: 16px; height: 16px;
  border-radius: 50%;
  position: absolute;
}


div.alt-event::after { top: 20%; left: 108%; }


div.alt-event.right::after { top: 20%; left: auto; right: 105%; }

}


details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;

}


details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
