@import url('https://fonts.googleapis.com/css?family=Mulish');


/*Navigation menu*/


.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    border-bottom: 1px solid #fff;
    overflow-y: hidden;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    position: fixed;
}

.active {
    font-weight: 700;
    color: black;
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 3px solid black;
}

.active:hover {
    border-bottom: 3px solid black;
    background-color: white;
    color: black;
}

.navhover {
    display: inline-block;
    position: relative;
    color: white;
    border-bottom: white;
    transition: 0.25s;
}

.navhover:hover {
    color: black;
    background-color: white;
    border-bottom: 3px solid #fff;
}

.navhover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
  
.navhover:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.navbar a {
    float: left;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    width: 16.666%;
    text-align: center;
}

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.titre{
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
}

.titre hr{
    background-color: #fff;
    height: 3px;
    border-radius: 10px;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.titre h2{
    color: #605B42;
    font-size: 200%; 
    text-align: center;
    padding-top: 1%;
}

.titre h1{
    color: #ffffff;
    font-size: 600%;
    text-align: center;
    margin-top: -30px;
}



.box p {
    color:Gray;
}

.box {
    border-radius: 5px;
    padding: 6%;
    margin: 3%;  
    background-color: rgb(56, 32, 53);
}

.card {
    padding-top: 5%;
    
}

.card img {
    
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
    color: #E20079;
    font-weight: 1.5em ;
}

.pink{
    border-top: 3px solid #E20079;
    border-bottom: 2px solid #E20079;
}
.card {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        width: 100%;
        background-color: rgb(220, 194, 194);
        padding-bottom: 10%;
}

/**Marron: #605B42 Rose: #E20079 Bleu: #23C9FF **/



.titre2{
    background-color: rgb(220, 194, 194);
}

.titre2 hr{
    background-color: rgb(82, 44, 77);
    border:none;
    height: 3px;
    border-radius: 10px;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.titre2 h2{
    color: #E20079;
    font-size: 200%; 
    text-align: center;
    padding-top: 1%;
}

.titre2 h1{
    color: #ffffff;
    font-size: 600%;
    text-align: center;
    margin-top: -30px;
}

.cards{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    background-color: black;
    padding-bottom:20px ;

}
.reseau{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    background-color: black; 
    padding-bottom: 6%;
}
.mail h2{
    font-size: 120%;
}
.mail p{
    font-size: 100%;
}


.mail img{
    width: 25%;
    
}


.mail{
    box-shadow: 8px 8px 1px #605B42;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    background-color: white;
    width: 90%;
    height: 90%;
    text-align: center;
    
}

.demande{
    grid-column: 3;
}
.press{
    grid-column: 2;
}

.job{
    grid-column: 1;
}

.youtube h2{
    color: red;
}


.insta h2{
    color: #983ead;
}
.vimeo h2{
    color: #41b1db;
}
.linkedin h2{
    color: #0a66c2;
}
.insta img{
    width: 25%;
}

.reseau a {
    text-decoration: none;
    color: black;

}
