@import url('https://fonts.googleapis.com/css?family=Mulish');




*{
  font-family: "Mulish";
}
body {
  margin: 0;
  padding: 0;
  height: 7930px;
  background-color: black;
}

.milieu{
  padding: 10px 50px 30px 0;
}



.inverse_scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99990;
}
/* (A) TIMELINE CONTAINER */
.alt-vtl {
  /* (A1) RELATIVE POSITION REQUIRED TO PROPERLY POSITION THE TIMELINE */
  position: relative;

  /* (A2) WIDTH RESTRICTION & CENTER ON PAGE */
  max-width: 600px;
  margin: 0 auto;
}

/* (B) DRAW TIMELINE USING ::BEFORE */
.alt-vtl::before {
  /* (B1) VERTICAL LINE */
  content: "";
  width: 5px;
  background-color: #23C9FF;

  /* (B2) POSITION IN THE MIDDLE */
  position: absolute;
  top: 0; bottom: 0; left: 50%;
}

/* (C) EVENTS */
div.alt-event {
  /* (C1) COSMETICS */
  background-color: #ffffff;
  border-radius: 10px;

  /* (C2) DIMENSIONS */
  padding: 40px 30px;
  width: 45%;
  margin-bottom: 20px;

  /* (C3) POSITION - DEFAULT LEFT SIDE */
  position: relative;
  right: 66px;
}
div.alt-event video{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

div.alt-event iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

div.alt-event img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

/* (C4) CHANGE EVENT POSITION TO RIGHT SIDE */
div.right { left: 331px; }

/* (D) COSMETICS FOR EVENT DATE & TEXT */
p.date {
  font-size: 25px;
  font-weight: 700;
  color: #5F4F47;
  margin-top: 0;
}
p.txt {
  margin: 10px 0 0 0;
  color: #222;
}

p.annee_gauche {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 130px;
  font-size: 50px;
  font-weight: bold;
}

p.annee_droite {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 385px;
  font-size: 50px;
  font-weight: bold;
}

p.annee_speciale {
  color: #F84AA7;
  font-weight: bolder;
  margin: 0 0 0 -60px;
  font-size: 50px;
}

/* (E) EVENT "SPEECH BUBBLE CALLOUT" */
/* (E1) SHARED */
div.alt-event::before, div.alt-event.right::before {
  content: "";
  border: 10px solid transparent;
  position: absolute;
}

/* (E2) FOR EVENTS ON THE LEFT */
div.alt-event::before {
  /* (E2-1) "MAGIC TRIANGLE" */
  border-left-color: #dbf0ff;
  border-right: 0;

  /* (E2-2) POSITION TRIANGLE ON THE RIGHT */
  left: 100%; top: 20%;
}

/* (E3) FOR EVENTS ON THE RIGHT */
div.alt-event.right::before {
  /* (E3-1) "MAGIC TRIANGLE" */
  border-right-color: #dbf0ff;
  border-left: 0;

  /* (E3-2) POSITION TRIANGLE ON THE LEFT */
  left: auto; right: 100%; top: 20%;
}

/* (F) EVENT CIRCLE ON TIMELINE */
/* (F1) SHARED */
div.alt-event::after, div.alt-event.right::after {
  /* (F1-1) "MAGIC CIRCLE" */
  content: "";
  background: black;
  border: 5px solid #23C9FF;
  width: 16px; height: 16px;
  border-radius: 50%;

  /* (F1-2) POSITION */
  position: absolute;
}

/* (F2) POSITION TO THE LEFT */
div.alt-event::after { top: 20%; left: 108%; }

/* (F3) POSITION TO THE RIGHT */
div.alt-event.right::after { top: 20%; left: auto; right: 105%; }

}



/* carré plus de détails */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;

}


details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
