html,body {
    font-family: 'Mulish', sans-serif;
    padding: 1em 2em;
    background-color: black;
  }
  



  h1 {
    margin: 0.2em;
    width: 90%;
    font-size: 5em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2px;
    color: white;
    word-spacing: 100vw;
    text-transform: uppercase;
}
